@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #1b1b1b;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: calc(2rem + 101px)
}

@media screen and (max-width: 500px) {

    html {
        scroll-padding-top: calc(2rem + 69px)
    }
}

html,
body {
    cursor: none
}

html *,
body * {
    cursor: none;
}

@layer base {
    @font-face {
        font-family: 'Gordita';
        src: url('/media/fonts/Gordita-Thin.woff') format('woff');
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: 'Gordita';
        src: url('/media/fonts/Gordita-Light.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'Gordita';
        src: url('/media/fonts/Gordita-Regular.woff') format('woff');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'Gordita';
        src: url('/media/fonts/Gordita-Medium.woff') format('woff');
        font-weight: 600;
        font-style: normal;
    }

    @font-face {
        font-family: 'Gordita';
        src: url('/media/fonts/Gordita-Bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: 'Gordita';
        src: url('/media/fonts/Gordita-Black.woff') format('woff');
        font-weight: 900;
        font-style: normal;
    }
}